{% extends 'index.html' %}
{% load static %}
{% block title %}
Mis proyectos
{% endblock title %}
{% block content %}
<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Mis Proyectos finalizados</h1>
                </div>
            </div>
        </div>
    </div>
</header>
</br>
<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-info" href="{% url 'informe_pdf' %}">Generar PDF</a>
              <br>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de fin</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Reporte</th>
                    {% if request.user.is_staff %}
                    <th scope="col">Modificar</th>
                    <th scope="col">Dar de baja</th>
                    <th scope="col">Finalizar</th>
                    {% else %}
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for p in object_list %}
                    <tr>
                        {% if not request.user.is_staff %}
                        <th scope="row">{{ p.idProject.title }}</th>
                        <td>{{ p.idProject.description }}</td>
                        <td>{{ p.idProject.level }}</td>
                        <td>{{ p.idProject.initDate }}</td>
                        <td>{{ p.idProject.finDate }}</td>
                        <td>{{ p.idProject.idCategory.name }}</td>
                        <td>{{ p.idProject.report }}</td>
                        {% else %}
                        <th scope="row">{{ p.title }}</th>
                        <td>{{ p.description }}</td>
                        <td>{{ p.level }}</td>
                        <td>{{ p.initDate }}</td>
                        <td>{{ p.finDate }}</td>
                        <td>{{ p.idCategory.name }}</td>
                        <td>{{ p.report }}</td>
                        <td><a class="btn btn-info" href="{% url 'projectUpdate' p.id %}">Modificar</a></td>
                        <td><a class="btn btn-danger" href="{% url 'projectDelete' p.id %}">Dar de baja</a></td>
                        <td><a class="btn btn-warning" href="{% url 'projectFinal' p.id %}">Finalizar</a></td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <li>No projects yet.</li>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}