{% extends 'index.html' %}
{% load static %}
{% block title %}
Proyectos
{% endblock title %}
{% block content %}
<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Proyectos</h1>
                    {% if request.user.is_staff %}
                    <a class="btn btn-success" href="{% url 'projectCreate' %}">Añadir</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
</br>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'AllProjects' %}" method="POST">
            <div class="input-group">
                    {% csrf_token %}
                    <select class="form-select" id="inputGroupSelect04" name="categorie">
                        <option selected value=0>Todos los proyectos</option>
                        {% if not request.user.is_staff %}
                        <option value=-1>Proyectos de la semana que viene</option>
                        {% endif %}
                        <optgroup label="Filtrar por categorías">
                            {% for categorie in categories %}
                            <option type="text" value="{{categorie.id}}">{{categorie.name}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Filtrar</button>
                    </div>
                
              </div>
            </form>
        </div>
    </div>
</div>
              <br>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de fin</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for project in object_list %}
                    <tr>
                        <th scope="row">{{ project.title }}</th>
                        <td>{{ project.description }}</td>
                        <td>{{ project.level }}</td>
                        <td>{{ project.initDate }}</td>
                        {% if project.finDate <= now %}
                        <td style="color:red">{{ project.finDate }}</td>
                        {% else %}
                        <td>{{ project.finDate }}</td>
                        {% endif %}
                        <td>{{ project.idCategory.name }}</td>
                        {% if project.idEmployee.idUser == request.user and request.user.is_staff %}
                        <td class="text-center">
                            <a class="btn btn-info btn-sm" href="{% url 'projectClients' project.id %}">Ver Participantes</a>
                            <a class="btn btn-success btn-sm" href="{% url 'projectFinal' project.id %}">Finalizar</a>
                            <a class="btn btn-warning btn-sm" href="{% url 'projectUpdate' project.id %}">Modificar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'projectDelete' project.id %}">Eliminar</a>
                        </td>
                        {% elif not request.user.is_staff%}
                        <td class="text-center"><a class="btn btn-info btn-sm" href="{% url 'inscribe' project.id %}">Inscribirse</a></td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <li>No projects yet.</li>
                    {% endfor %}
                </tbody>
            </table>
        
{% endblock content %}