{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Register!</title>
{% endblock title %}
{% block head %}
<form method="post">{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col">
            {{ form.as_p }}
        </div> 
        <div class="col">
            {{ form2.as_p }}
        </div> 
        <input type="submit" class="btn btn-primary btn-block" value="Register">
    </div>
</div>
</form>
{% endblock head %}
{% block other %}
<br>
{% endblock other %}